<h1>
  AngularMaterial
</h1>
<h1>
  Checkbox
</h1>

<md-card>
  <md-card-content>
    <h2 class="example-h2">Checkbox configuration</h2>

    <section class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</md-checkbox>
    </section>

    <section class="example-section">
      <label class="example-margin">Align:</label>
      <md-radio-group [(ngModel)]="align">
        <md-radio-button class="example-margin" value="start">Start</md-radio-button>
        <md-radio-button class="example-margin" value="end">End</md-radio-button>
      </md-radio-group>
    </section>

    <section class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</md-checkbox>
    </section>
  </md-card-content>
</md-card>

<md-card class="result">
  <md-card-content>
    <h2 class="example-h2">Result</h2>

    <section class="example-section">
      <md-checkbox
          class="example-margin"
          [checked]="checked"
          [indeterminate]="indeterminate"
          [align]="align"
          [disabled]="disabled">
        I'm a checkbox
      </md-checkbox>
    </section>
  </md-card-content>
</md-card>


<h1>Inputs</h1>
<form class="example-form">
  <md-input-container class="example-full-width">
    <input md-input placeholder="Company (disabled)" disabled value="Google">
  </md-input-container>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input md-input placeholder="First name">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input md-input placeholder="Long Last Name That Will Be Truncated">
    </md-input-container></td>
  </tr></table>

  <p>
    <md-input-container class="example-full-width">
      <textarea md-input placeholder="Address">1600 Amphitheatre Pkwy</textarea>
    </md-input-container>
    <md-input-container class="example-full-width">
      <textarea md-input placeholder="Address 2"></textarea>
    </md-input-container>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input md-input placeholder="City">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input md-input placeholder="State">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input md-input #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
    </md-input-container></td>
  </tr></table>
</form>


<h1>Selects </h1>
<form>
  <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
    <md-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </md-option>
  </md-select>

  <p> Selected value: {{selectedValue}} </p>
</form>

  <h1>
    Grid list
  </h1>
  <md-grid-list cols="4" rowHeight="100px">
    <md-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </md-grid-tile>
  </md-grid-list>


<md-card class="example-card" >
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Angular</md-card-title>
    <md-card-subtitle>Material</md-card-subtitle>
  </md-card-header>
  <img md-card-image class="md-images" src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg">
  <md-card-content>
    <p>
      Sprint from Zero to App
      Hit the ground running with comprehensive, modern UI components that work across the web, mobile and desktop
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>